.chess-frame-top {
    height: 100px;
    background-color: aqua;

}

.chess-frame-bottom {
    height: 100px;
    background-color: aqua;
}

@media screen and (max-width: 700px) {
    .chess-frame-middle {
        display: flex;
        align-items: center;
    }
    .chess-panel-left,
    .chess-panel-right {
        width: 20%;
    }
    .chess-panel-middle {
        width: 60%;
    }
}

@media screen and (min-width: 701px) {
    .chess-frame-middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .chess-panel-middle {
        width: 400px;
    }
    .chess-panel-left,
    .chess-panel-right {
        flex: 1;
    }
}

.chess-panel-left,
.chess-panel-right {
    background-color: greenyellow;
}

.chess-board {
    padding-top: 100%;
    border-style: solid;
    border-color: black;
    background-image: url("./img/surakarta2.jpg");
    background-size: cover;
    position: relative;
}